.room_thumbnail id="room-thumbnail-#{room.id}" data-temperature="#{room.cached_temperature}" data-name="#{room.name}" data-room-id="#{room.id}" data-url="#{room_path(room)}"
 .room_name = room.name
 .room_tagline